{% extends 'base.html' %}
{% set messages = get_flashed_messages(with_categories=true) %}
{% block title %}練習問題{% endblock %}
{% block contents %}
{% include "components/header/practices_header.html" %}
<main class="page page--sql">
    <!-- 練習問題リスト -->
    {% for chapter in chapters %}
        <section class="section section--practice-list">
            <h2 class="heading heading--lg toggle-header is-close">
                第{{ chapter.chapter_number }}章 {{ chapter.chapter_title }}
            </h2>
            <div class="toggle-content is-close">
                {% for section in chapter.sections %}
                    <article class="section">
                        {# 問題新規追加ページへのリンク用URL #}
                        {% set create_url = url_for(
                            "create_question", 
                            chapter=chapter.chapter_number, 
                            section=section.section_number
                        ) %}
                        <h3 class="heading heading--md section-title">
                            【その{{ section.section_number }}】{{ section.section_title }}
                            <span 
                                class="edit-icon"
                                title="この節に問題を追加する"
                                aria-label="問題追加"
                                onclick="location.href='{{ create_url }}'"
                            >✒️</span>
                        </h3>
                        <ul class="practice-list">
                            {% for q in section.questions %}
                                <li 
                                    class="practice-item"
                                    title="{{ q.Question }}"
                                >
                                    <a href="{{ url_for(
                                        'practice_detail', 
                                        chapter=q.ChapterNumber, 
                                        section=q.SectionNumber, 
                                        question=q.QuestionNumber) }}"
                                    >
                                        {% if q.QuestionNumber == 0 %}
                                            書いてみよう
                                        {% else %}
                                            第{{ q.QuestionNumber }}問
                                        {% endif %}
                                        ：<span class="text--small">{{ q.Question }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </article>
                {% endfor %}
            </div>
        </section>
    {% endfor %}
    {% if messages %}
        <div class="flash-container">
            {% for category, msg in messages %}
                <div class="flash flash--{{ category }}">{{ msg }}</div>
            {% endfor %}
        </div>
    {% endif %}
</main>
{% endblock %}